<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">
<html lang="en">
    <head>
        <title>Seu Carrinho</title>
    </head>

    <body>

        <div class="container" layout:fragment="corpo">

            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produto</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col" class="text-center">Quantidade</th>
                            <th scope="col" class="text-right">Preço Unitário</th>
                            <th scope="col" class="text-right">Preço Total</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="itemCompra: ${listaItensCompra}">
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td th:text="${itemCompra.produto.descricao}"></td>
                            <td>Em Estoque</td>
                            <td style="display: flex; justify-content: center;">
                                <span th:text="${itemCompra.quantidade}"></span>
                                &nbsp;
                                <a class="btn btn-sm btn-secondary" th:href="@{/alterarQuantidadeCarrinho/{id}/{acao}(id=${itemCompra.produto.id}, acao=${1})}">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <a class="btn btn-sm btn-secondary" th:href="@{/alterarQuantidadeCarrinho/{id}/{acao}(id=${itemCompra.produto.id}, acao=${0})}">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </td>
                            <td class="text-right" th:text="${itemCompra.valorProduto}">€</td>
                            <td class="text-right" th:text="${itemCompra.valorTotal}">€</td>

                            <td class="text-right">
                                <a class="btn btn-sm btn-danger" th:href="@{/removerProduto/{id}/(id=${itemCompra.produto.id})}">
                                    <i class="fa fa-trash"></i>
                                </a>

                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">R$ &nbsp<span th:text="${compra.total}"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Frete</td>
                            <td class="text-right">R$ 0.0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>R$ &nbsp<span th:text="${compra.total}"></span></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light">Continuar Comprando</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Finalizar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
