<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Loja Virtual com Spring MVC Spring Boot</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/sb-admin-2.css" rel="stylesheet" />

</head>
<body>

	<div class="layout-main">

		<aside>
			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administrativo">
					<div class="sidebar-brand-text mx-3">Loja PW</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Nav Item - Dashboard -->
				<li class="nav-item active">
					<a class="nav-link" href="/administrativo">
						<i class="oi oi-home"></i>
						<span>Home</span></a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">


				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					   aria-expanded="true" aria-controls="collapseTwo">
						<span>Funcionários</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/funcionarios/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/funcionarios/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePro"
					   aria-expanded="true" aria-controls="collapsePro">
						<span>Produtos</span>
					</a>
					<div id="collapsePro" class="collapse" aria-labelledby="headingPro" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/produtos/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/produtos/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
					   aria-expanded="true" aria-controls="collapse3">
						<span>Entrada Produtos</span>
					</a>
					<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/entrada/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMar"
					   aria-expanded="true" aria-controls="collapseMar">
						<span>Marca</span>
					</a>
					<div id="collapseMar" class="collapse" aria-labelledby="headingMar" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/marcas/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/marcas/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCat"
					   aria-expanded="true" aria-controls="collapseCat">
						<span>Categoria</span>
					</a>
					<div id="collapseCat" class="collapse" aria-labelledby="headingCat" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/categorias/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/categorias/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>


				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePap"
					   aria-expanded="true" aria-controls="collapsePap">
						<span>Papéis</span>
					</a>
					<div id="collapsePap" class="collapse" aria-labelledby="headingPap" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/papeis/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/papeis/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePer"
					   aria-expanded="true" aria-controls="collapsePer">
						<span>Permissões</span>
					</a>
					<div id="collapsePer" class="collapse" aria-labelledby="headingPer" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/permissoes/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/permissoes/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEst"
					   aria-expanded="true" aria-controls="collapseEst">
						<span>Estados</span>
					</a>
					<div id="collapseEst" class="collapse" aria-labelledby="headingEst" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/estados/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/estados/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCid"
					   aria-expanded="true" aria-controls="collapseCid">
						<span>Cidades</span>
					</a>
					<div id="collapseCid" class="collapse" aria-labelledby="headingCid" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="/administrativo/cidades/cadastrar">
								<i class="oi oi-plus"></i>
								<span>Cadastrar</span>
							</a>


							<a class="collapse-item" href="/administrativo/cidades/listar">
								<i class="oi oi-spreadsheet"></i>
								<span>Listar</span>
							</a>
						</div>
					</div>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<li class="nav-item">
					<a class="nav-link" href="/logout">
						<i class="oi oi-account-logout"></i>
						<span>Logout</span></a>
				</li>

			</ul>
		</aside>

	<section layout:fragment="corpo">

		Main

	</section>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	    
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

	</script>
</body>
</html>
